<header class="header">
  <div class="container">
    <h1>💡 Application de Gestion des Suggestions</h1>
    <p>Recueillez, gérez et suivez les suggestions des étudiants et du personnel du campus.</p>
    <!-- Left side -->
    <button class="btn btn-outline-primary" routerLink="/">
      🏠 Accueil
    </button>

    <!-- Right side -->
    <nav class="nav-links">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/listSuggestion" routerLinkActive="active">Suggestions</a>
    </nav>
  </div>
</header>
